$back-lighter: #282828;
$back-darker: #181818;
$back-canvas: #181818;
$back-lightest: #383838;
$form-background: #ccc;
$form-background-hover: #fff;
$form-background-focus: #fff;
$form-text: #000;
$form-placeholder-color: #444;

$palette-content-color: $back-lighter;
$palette-node-border: #fff;
$palette-port-background: #181818;
$palette-label: #fff;
$node-label: #fff;
$port-label-background: #181818;
$node-outline: #fff;
$port-outline: #fff;
$port-fill: #181818;

$node-button-button-outer: #181818;
$node-stroke: #fff;
$port-selected-color-fill: #bbb;
$port-selected-color-stroke: #fff;
$node-outline: #fff;
$link-color: #bbb;
$node-selected-color: #fff;
$node-opacity: .75;
$palette-header-background: $back-lighter;
$palette-header-text: #eee;
$primary-border-color: $back-darker;
$palette-scroll: $back-darker;
$palette-back: $back-darker;
$palette-border-bottom: $back-darker;

$tab-background-inactive: $back-lighter;
$tab-background-active: $back-darker;
$tab-background-text-inactive: #888;
$tab-background-text-active: #fff;
$tab-background: $back-lighter;
$tab-border: $back-lighter;

$main-background: $back-darker;

$text-color: #fff;
$sidebar-back: $back-darker;
$code-color: #00d95a;
$primary-color: #00d95a;

$workspace-button-color: #fff;
$workspace-button-background: $back-lighter;
$secondary-border-color: $back-lighter;
$tab-background-hover: $back-darker;
$workspace-button-color-hover: #fff;
$workspace-button-background-hover: $back-darker;
$primary-border-color: $back-darker;
$workspace-button-color: #fff;
$form-text-color: #fff;

$typedInput-button-background-hover: #fff;
$typedInput-button-background: $form-background;
